body{
    background:#fafafa;
}
.no-padding{
    padding:0;
}
.padding{
    padding:2.5rem;
}
.p-b-0{
    padding-bottom:0 !important;
}
.p-t-1{
    padding-top:1rem;
}
.p-b-1{
    padding-bottom:1rem;
}
.p-r-2{
    padding-right:2rem;
} 
.p-l-2{
    padding-left:2rem;
} 
.no-border{
    border:none;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.icon-border >i {
    border-radius: 50%;
    border: 1px solid #ddd;
    line-height: 2.5em !important;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    transition: 0.2s;
    font-size:12px !important;
    cursor:pointer;
}
.icon-border >i:hover{
    color:#fff;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    border-color:linear-gradient(to right, #ff4b2b, #ff416c);
    transition: 0.5s;
}
.font-weight-nr{
    font-weight:500;
}
.m-t-2{
    margin-top:2rem;
}
.m-t-1{
    margin-top:1rem;
}
.m-r-1{
    margin-right:0.5rem;
}
.m-t-b{
     margin: 5.6rem 0 4.4rem 0;
}
.m-b-1{
    margin-bottom:1rem;
}
.form-control:focus{
    border-color:#f4efef;
    box-shadow: none;
}
.btn-custom-color{
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    color:#fff;
    border-color:#dde1e7;
}
.btn-custom-color:hover{
    color:#fff;
}
.btn-border-color{
    color:#bcbec0;
}
.btn:focus{
    box-shadow:none;
}
.bg-color{
    background: linear-gradient(to right, #ff4b2b, #ff416c);
}
.text-white{
    color:#fff;
}
.text-muted-light{
    color:#dde1e7;
}
.br-rad-top-left{
    border-top-left-radius: 0 !important;
}
.br-rad-bottom-left{
    border-bottom-left-radius: 0 !important;
}
.br-rad-top-right{
    border-top-right-radius: 0 !important;
}
.br-rad-bottom-right{
    border-bottom-right-radius: 0 !important;
}
.br-rad{
    border-radius:0.5rem;
}
.box-shadow{
    box-shadow: 3px 4px 5px 2px #ddd;
}
.input-bg >.form-group> input{
    background:#f4efef;
    border-radius:0;
    border-color:#f4efef; 
}
.mob-float-right{
    float:right;
}

.card-main-container{
    width:768px;
    max-width:100%;
    min-height:400px;
    position: relative;
    overflow: hidden;
    box-shadow:3px 4px 5px 2px #ddd;
    border-radius: 4px;
}

.card-conatiner > form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 50px;
    height:100%;
    text-align:center;
}

.card-conatiner{
    background: #fff;
    position: absolute;
    top:0;
    height:100%;
    transition: all 0.6s ease-in-out;
}
.signin-container{
    left:0;
    width:50%;
    z-index:2;
}
.signup-container{
    left:0;
    width:50%;
    opacity: 0;
    z-index:1;
}
.card-main-container.right-panel-active .signin-container{
    transform: translateX(100%);
}
.card-main-container.right-panel-active .signup-container{
    transform: translateX(100%);
    opacity: 1;
    z-index:5;
    animation:  show 0.6s;
}
.button-content > button{
    background-color:transparent;
    color:#fff;
    padding:4px 25px;
    border-radius:4px;
    outline: none;
    border:1px solid #c8c8c8;
    cursor: pointer;
    font-size:14px;
}
@keyframes show{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }

    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.card-main-container.right-container-panel-active .overlay{
    transform:translateX(50%);
}

.card-main-container.right-container-panel-active .overlay-left-panel{
    transform:translateX(0);
}

.card-main-container.right-container-panel-active .overlay-right-panel{
    transform:translateX(20%);
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.card-main-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.card-main-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.card-main-container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.card-main-container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

@media (min-width: 320px){
    .signin-container, .signup-container{
        width:100% !important;
    } 
    .card-main-container {
        margin:41px auto !important;
    }
    .signup-container{
        opacity:1;
    }  

}

@media (min-height: 1024px){
    .card-main-container{
        margin:70px auto !important;
    }
}
